<h1>Edit <%= @artist.name %> </h1>

<form action="/artists/<%= @artist.id %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <%= erb :"artists/form" %>
  <input type="submit" value="Edit <%= @artist.name %>" />
</form>

<br/>

<a href="/artists/<%= @artist.id %>">Back to <%= @artist.name %>'s Show Page.</a>
<br/>
<form action="/artists/<%= @artist.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete <%= @artist.name %>">
</form>
