
<%= form_for @dog do |form| %>

  <ul>
    <li>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </li>
    <li>
      <%= form.label :tail_length %>
      <%= form.number_field :"tail_length" %>
    </li>
    <li>
      <%= form.label :color_hexadecimal %>
      <%= form.text_field :color_hexadecimal %>
    </li>
  </ul>

  <%= form.submit %>
<% end %>




<%# form_tag dogs_path, method: "delete" do %>

  <%# label_tag :potato %>
<!--   <ul>
    <li>
      <%= label_tag :name %>
      <%= text_field_tag :name %>
    </li>
    <li>
      <%= label_tag :tail_length %>
      <%= number_field_tag :tail_length %>
    </li>
  </ul>

  <%= submit_tag "Create Dog" %> -->

<%# end %>


<!-- 
<form action="/dogs" method="POST">
  
  <label for="dog-name">Name:</label>
  <input id="dog-name" type="text" />

  <input type="submit" />

</form>
 -->











