<!DOCTYPE html>
<html>
  <head>
    <title>Favorite colors</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if @logged_in %>
        Logged in as <%= @logged_in_user.username %>
        <%= button_to "logout", logout_path, method: :delete %>
        <%# link_to "logout", logout_path, method: :delete %>
      <% else %>
        <%= link_to "Sign up", new_user_path %>
        <%= link_to "Log in", new_login_path %>
      <% end %>
      <% if @notification %>
        <p class="message">
          <%= @notification %>
        </p>
      <% end %>
      <% if @errors && @errors.any? %>
      <ul class="errors">
        <% @errors.each do |error| %>
        <li>
          <%= error %>
        </li>
        <% end %>
      </ul>
      <% end %>
      <% if @logged_in_user %>
      <h2>Votes remaining: <%= @logged_in_user.remaining_votes %></h2>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
